#volume-percent {
    margin-top: 0.4em;
    visibility: hidden;
}

#hue-slider, .date-slider {
    -webkit-appearance: none;
    background: transparent;
    width: 90%;
}
#hue-slider:focus, .date-slider:focus{
    outline: none;
}

input#hue-slider::-ms-thumb {
    width: 9px;
    height: 9px;
    transform: none;
    background: black;
    border: 0;
}
input#hue-slider::-ms-fill-upper, input#hue-slider::-ms-fill-lower {
    background: white;
    border: solid 1px grey;
}
#hue-slider::-webkit-slider-runnable-track {
    height: 8px;
    background: -webkit-linear-gradient(left, transparent 4px, hsl(0,100%,50%) 4px ,hsl(60,100%, 50%), hsl(120,100%, 50%), hsl(180, 100%, 50%), hsl(240,100%,50%), hsl(300,100%,50%), hsl(0,100%,50%) calc(100% - 4px), transparent calc(100% - 4px));
}
#hue-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 8px;
    height: 20px;
    transform: translate(0, -6px);
    background: white;
    border: solid 1px grey;
    border-radius: 0px;
    cursor: pointer;
}

#hue-slider::-moz-range-track {
    height: 8px;
    background: -moz-linear-gradient(left, transparent 4px, hsl(0,100%,50%) 4px ,hsl(60,100%, 50%), hsl(120,100%, 50%), hsl(180, 100%, 50%), hsl(240,100%,50%), hsl(300,100%,50%), hsl(0,100%,50%) calc(100% - 4px), transparent calc(100% - 4px));
}

#hue-slider::-moz-range-thumb {
    -webkit-appearance: none;
    width: 8px;
    height: 20px;
    background: white;
    border: solid 1px grey;
    border-radius: 0px;
    cursor: pointer;
}

.date-slider {
    display: block;
    margin: 0px 2px;
}
#min-date-slider { margin-top: 8px; }
#min-date-slider::-webkit-slider-thumb { transform: translateY(-7px); border-bottom: 0; }
#max-date-slider { margin-bottom: 8px; }
#max-date-slider::-webkit-slider-thumb { transform: translateY(-4px) scaleY(-1); border-top: 0; }

.date-slider::-webkit-slider-runnable-track {
    height: 4px;
    background-image: -webkit-linear-gradient(left, transparent 4px, grey 4px, grey calc(100% - 4px), transparent calc(100% - 4px));
}
.date-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 8px;
    height: 15px;
    background-image: url("../img/range_arrow.png");
    border: 0;
    border-radius: 0px;
    cursor: pointer;
}